.ordertable-content {
    padding: 10px 30px;
}

.ordertable-addorder {
    margin: 20px 0;
    padding: 6px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ordertable-addorder:hover {
    background-color: #0056b3;
}

.ordertable-details, .ordertable-pending {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}
