.accountdetails-content {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #fffafa;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.accountdetails-info {
    margin-right: 40px;
}

.accountdetails-content img {
    padding-top: 30px;
    width: 400px;
    height: 300px;
}
