.login-content {
  display: flex;
  background-color: #b5d3ef;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-left-part {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 80px; 
}

.login-right-part {
  margin-left: 80px;
  background-color: #fffafa;
  border-radius: 10px;
  padding: 30px;
}

.login-right-part form {
  display: flex;
  flex-direction: column;
}

.login-right-part label {
  margin-bottom: 10px;
  font-weight: 600;
}

.login-right-part input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-right-part button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-right-part button:hover {
  background-color: #0056b3;
}

.login-signup-text {
  margin-top: 10px;
  font-size: 16px;
}

.login-signup-text a {
  color: #007bff;
  text-decoration: none;
}

.login-signup-text a:hover {
  color: #0056b3;
}